<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DirecTree.Android.DirecTree.Android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="DirecTree" android:icon="@drawable/Icon"></application>
</manifest>